# Dependências
/node_modules
/.pnp
.pnp.js

# Ambiente de desenvolvimento
.env.local
.env.development
.env.test
.env.production

# Cache e logs
/.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/build
/dist

# IDE/Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros
.DS_Store